global:
    datacenter: ${datacenter}
    image: ${image_tag}
    acls:
        manageSystemACLs: ${enable_bootstrap_acls}

server:
    replicas: ${replicas}
    bootstrapExpect: ${replicas}

ui:
    service:
        type: ${ui_service_type}
    enabled: ${ui_enabled}

connectInject:
    enabled: ${connect_injected_enabled}
    default: ${connect_injected_enabled_default}

ingressGateways:
    enabled: ${ingress_gateway_enabled}
    service:
        type: ${ingress_gateway_service_type}