global:
    datacenter: ${datacenter}
    image: ${image_tag}
    bootstrapACLs: ${enable_bootstrap_acls}

server:
    replicas: ${replicas}
    bootstrapExpect: ${replicas}

ui:
    service:
        type: ${service_type}
    enabled: ${ui_enabled}

connectInject:
    enabled: ${connect_injected_enabled}
    default: ${connect_injected_enabled_default}
    k8sAllowNamespaces: ["${k8s_allow_namespaces}"]
    k8sDenyNamespaces: [${k8s_deny_namespaces}]